fastapi
uvicorn  # For running the FastAPI app
pydantic
langchain-openai
langchain-community
sentence-transformers
openai
python-dotenv  # Recommended for local environment variablesfaiss-cpu
rank_bm25